* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.container {
  margin: 0 auto;
  width: 1400px;
}

.main-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background-color: #d3c9c910;
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-header img {
  justify-self: start;
  margin-left: 90px;
}

.test {
  justify-self: start;
  align-self: center;
  grid-column: 2/-1;
  font-style: italic;
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 19px;
}

.nachrichten-quellen {
  justify-self: start;
  -webkit-app-region: no-drag;
}

.artikeln-liste {
  justify-self: center;
  -webkit-app-region: no-drag;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #1f79dc;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(233, 227, 227);
  margin-top: 13px;
  padding: 10px;
  border-radius: 100px;
}

.btn:hover {
  background-color: white;
  color: #1f79dc;
}

h2 {
  margin-bottom: 10px;
}

.rss-feeds-area {
  background-color: rgb(212, 212, 212);
}

.rss-feeds {
  list-style: none;
  background-color: #bdc3c7;
  width: 500px;
  height: 250px;
  overflow: auto;
  padding: 10px;
  border-radius: 12px;
}

.rss-feeds li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.rss-feeds li:last-child {
  border-bottom: none;
}

.btn-update {
  justify-self: end;
  margin-top: 0px;
}

.nachrichten-quellen-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.nachrichten-quellen-header h2 {
  margin-bottom: 0px;
  padding-top: 5px;
}

.artikeln-liste h2 {
  padding-top: 5px;
  margin-bottom: 18px;
  text-align: center;
}

.rss-articles {
  list-style: none;
  background-color: #bdc3c7;
  width: 800px;
  height: 250px;
  overflow: auto;
  padding: 10px;
  border-radius: 12px;
}

.rss-articles li:first-child {
  background-color: #bdc3c7;
  margin-bottom: 10px;
}

/* .rss-articles li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
} */

.list-felx {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.list-felx:last-child {
  border-bottom: none;
}

/* .rss-articles li:last-child {
  border-bottom: none;
} */

.search-text-area {
  background-color: #bdc3c7;
  font-size: 20px;
  border-radius: 12px;
  direction: ltr;
  padding-top: 20px;
  padding-left: 20px;
  resize: none;
}

.btn-search {
}

.search-area {
  justify-self: start;
  -webkit-app-region: no-drag;
}

.artikeln-liste {
  justify-self: start;
}

.list-felx {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.article-title {
  flex: 1;
  margin-left: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: large;
  /* margin-bottom: 10px; */
}

.list-felx .article-interesting {
  margin-right: 69px;
  font-weight: bold;
  font-size: large;
  width: 100px; /* Set fixed width for the item column */
}

.btn-lesen {
  margin-top: 0px;
  font-size: 10px;
}

.artikel-title {
  margin-top: 5px;
}

.rss-feed {
  display: flex;
  justify-content: start;
}

.feed-icon {
  fill: #1f79dc;
  width: 25px;
  height: 25px;
}

.feed-name {
  padding: 5px;
  margin-left: 6px;
}

.list-felx .item {
  display: flex;
  align-items: center;
}

.list-felx .item span {
  margin-left: 10px;
  width: 540px;
}

.article-icon {
  fill: #1f79dc;
  width: 25px;
  height: 25px;
}

/* AddRSSModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.modal h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.form-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-add {
  background-color: #007bff;
  color: #fff;
}

.btn-cancel {
  background-color: #ccc;
  color: #333;
}

button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

.selected {
  background-color: #f0f0f0;
  /* border: 1px solid #007bff;
  /* Add any other styling you want for selected feeds */
}

.search-result {
  justify-self: start;
  align-self: center;
  margin-bottom: 50px;
  /* background-color: red; */
}

.search-result-area {
  background-color: #bdc3c7;
  border: 1px solid #ccc;
  padding: 20px;
  width: 800px;
  height: 275px;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-result h2 {
  text-align: center;
}

.search-result-area p {
  padding: 10px;
  margin: 0;
  font-size: 18px;
  color: #333;
}

.search-result-area strong {
  padding: 10px;
  margin: 0;
  font-size: 18px;
  color: #333;
}

.search-result-area h3 {
  text-align: center;
  margin-bottom: 15px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.article-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.article-spinner {
  width: 20px;
  height: 20px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modal Styles */
.modal-gpt {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-gpt.open {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Key Input Styles */
.key-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gptkey-button-copy {
  background-color: #88928d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  /* padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer; */
}

.gptkey-button-delete {
  background-color: #da4e4e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
}

.gptkey-button:hover {
  background-color: #0056b3;
}

/* Key List Styles */
.key-list {
  display: flex;
  flex-direction: column;
}

.key-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.key-item span {
  margin-right: 10px;
}

.gptkey-button-add {
  background-color: #1f79dc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
}
